# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("./Resources/applicants_data.csv")

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns = ["EIN","NAME"])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=="object"].index)
#
# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse = False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
#encoded_df = applicant_data_df.select_dtypes(include = [object]).copy()
encoded_df = pd.DataFrame(encoded_data, columns = enc.get_feature_names(categorical_variables))
# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
applicant_data_df = applicant_data_df.filter(['STATUS','ASK_AMT','IS_SUCCESSFUL'])
frames = [applicant_data_df,encoded_df]
encoded_df = pd.concat(frames, axis=1)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"].values

# Display a sample of y
y

array([1, 1, 0, ..., 0, 1, 0])

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns= "IS_SUCCESSFUL")

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons =10

In [16]:
# Define the number of hidden nodes for
hidden_nodes_layer1 = 20
# Review the number hidden nodes in the first layer
hidden_nodes_layer1

20

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  9

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

9

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="linear"))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 20)                2340
_________________________________________________________________
dense_1 (Dense)              (None, 9)                 189
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 10
=================================================================
Total params: 2,539
Trainable params: 2,539
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [24]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X, y, validation_split=0.3, epochs=50)

Epoch 1/50
751/751 [==============================] - 1s 1ms/step - loss: 48525564.0000 - mse: 48525564.0000 - val_loss: 17624322.0000 - val_mse: 17624322.0000
Epoch 2/50
751/751 [==============================] - 1s 1ms/step - loss: 198724.3750 - mse: 198724.3750 - val_loss: 434991.3125 - val_mse: 434991.3125
Epoch 3/50
751/751 [==============================] - 1s 1ms/step - loss: 4415.6294 - mse: 4415.6294 - val_loss: 1935.9291 - val_mse: 1935.9291
Epoch 4/50
751/751 [==============================] - 1s 1ms/step - loss: 16.0002 - mse: 16.0002 - val_loss: 1.1940 - val_mse: 1.1940
Epoch 5/50
751/751 [==============================] - 1s 1ms/step - loss: 0.5726 - mse: 0.5726 - val_loss: 0.5310 - val_mse: 0.5310
Epoch 6/50
751/751 [==============================] - 1s 1ms/step - loss: 0.5658 - mse: 0.5658 - val_loss: 0.5295 - val_mse: 0.5295
Epoch 7/50
751/751 [==============================] - 1s 1ms/step - loss: 0.5621 - mse: 0.5621 - val_loss: 0.5215 - val_mse: 0.5215
Epoch 8/50
751/751 [==============================] - 1s 1ms/step - loss: 0.5570 - mse: 0.5570 - val_loss: 0.5320 - val_mse: 0.5320
Epoch 9/50
751/751 [==============================] - 1s 1ms/step - loss: 0.5506 - mse: 0.5506 - val_loss: 0.5912 - val_mse: 0.5912
Epoch 10/50
751/751 [==============================] - 1s 1ms/step - loss: 0.6580 - mse: 0.6580 - val_loss: 2.2235 - val_mse: 2.2235
Epoch 11/50
751/751 [==============================] - 1s 1ms/step - loss: 0.6051 - mse: 0.6051 - val_loss: 2.9229 - val_mse: 2.9229
Epoch 12/50
751/751 [==============================] - 1s 1ms/step - loss: 0.5806 - mse: 0.5806 - val_loss: 4.8231 - val_mse: 4.8231
Epoch 13/50
751/751 [==============================] - 1s 1ms/step - loss: 1.7169 - mse: 1.7169 - val_loss: 268.1828 - val_mse: 268.1828
Epoch 14/50
751/751 [==============================] - 1s 1ms/step - loss: 13253.3779 - mse: 13253.3779 - val_loss: 0.4115 - val_mse: 0.4115
Epoch 15/50
751/751 [==============================] - 1s 1ms/step - loss: 0.4315 - mse: 0.4315 - val_loss: 0.3935 - val_mse: 0.3935
Epoch 16/50
751/751 [==============================] - 1s 1ms/step - loss: 0.4091 - mse: 0.4091 - val_loss: 0.3707 - val_mse: 0.3707
Epoch 17/50
751/751 [==============================] - 1s 1ms/step - loss: 0.3813 - mse: 0.3813 - val_loss: 0.3436 - val_mse: 0.3436
Epoch 18/50
751/751 [==============================] - 1s 1ms/step - loss: 0.3493 - mse: 0.3493 - val_loss: 0.3141 - val_mse: 0.3141
Epoch 19/50
751/751 [==============================] - 1s 1ms/step - loss: 0.3161 - mse: 0.3161 - val_loss: 0.2865 - val_mse: 0.2865
Epoch 20/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2865 - mse: 0.2865 - val_loss: 0.2653 - val_mse: 0.2653
Epoch 21/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2648 - mse: 0.2648 - val_loss: 0.2535 - val_mse: 0.2535
Epoch 22/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2532 - mse: 0.2532 - val_loss: 0.2500 - val_mse: 0.2500
Epoch 23/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2491 - mse: 0.2491 - val_loss: 0.2504 - val_mse: 0.2504
Epoch 24/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2510 - val_mse: 0.2510
Epoch 25/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2481 - mse: 0.2481 - val_loss: 0.2513 - val_mse: 0.2513
Epoch 26/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2481 - mse: 0.2481 - val_loss: 0.2510 - val_mse: 0.2510
Epoch 27/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2481 - mse: 0.2481 - val_loss: 0.2515 - val_mse: 0.2515
Epoch 28/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2481 - mse: 0.2481 - val_loss: 0.2514 - val_mse: 0.2514
Epoch 29/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2513 - val_mse: 0.2513
Epoch 30/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2481 - mse: 0.2481 - val_loss: 0.2511 - val_mse: 0.2511
Epoch 31/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2513 - val_mse: 0.2513
Epoch 32/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2481 - mse: 0.2481 - val_loss: 0.2520 - val_mse: 0.2520
Epoch 33/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2481 - mse: 0.2481 - val_loss: 0.2517 - val_mse: 0.2517
Epoch 34/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2518 - val_mse: 0.2518
Epoch 35/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2515 - val_mse: 0.2515
Epoch 36/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2515 - val_mse: 0.2515
Epoch 37/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2518 - val_mse: 0.2518
Epoch 38/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2515 - val_mse: 0.2515
Epoch 39/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2510 - val_mse: 0.2510
Epoch 40/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2481 - mse: 0.2481 - val_loss: 0.2508 - val_mse: 0.2508
Epoch 41/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2512 - val_mse: 0.2512
Epoch 42/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2514 - val_mse: 0.2514
Epoch 43/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2521 - val_mse: 0.2521
Epoch 44/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2513 - val_mse: 0.2513
Epoch 45/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2481 - mse: 0.2481 - val_loss: 0.2515 - val_mse: 0.2515
Epoch 46/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2513 - val_mse: 0.2513
Epoch 47/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2513 - val_mse: 0.2513
Epoch 48/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2481 - mse: 0.2481 - val_loss: 0.2519 - val_mse: 0.2519
Epoch 49/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2512 - val_mse: 0.2512
Epoch 50/50
751/751 [==============================] - 1s 1ms/step - loss: 0.2482 - mse: 0.2482 - val_loss: 0.2513 - val_mse: 0.2513

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 0s 1ms/step - loss: 0.5061 - mse: 0.5061
Loss: 0.5060920119285583, Accuracy: 0.5060920119285583

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path("AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features+ 7) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

61

In [30]:
# Create the Sequential model instance
nn_A1 = nn = Sequential()

In [33]:
# First hidden layer
nn_A1.add(Dense(units =hidden_nodes_layer1,input_dim=number_input_features, activation= "sigmoid"))

nn_A1.add(Dense(units =hidden_nodes_layer2, activation ="sigmoid"))
# Output layer
nn_A1.add(Dense(1, activation = "sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 20)                2340
_________________________________________________________________
dense_4 (Dense)              (None, 9)                 189
_________________________________________________________________
dense_5 (Dense)              (None, 20)                200
_________________________________________________________________
dense_6 (Dense)              (None, 9)                 189
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 10
=================================================================
Total params: 2,928
Trainable params: 2,928
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile the Sequential model
nn_A1.compile(loss= "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [35]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7053 - accuracy: 0.6134
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5905 - accuracy: 0.7264
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5767 - accuracy: 0.7318
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5739 - accuracy: 0.7308
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5722 - accuracy: 0.7315
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5713 - accuracy: 0.7308
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5701 - accuracy: 0.7313
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5690 - accuracy: 0.7313
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5652 - accuracy: 0.7314
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5592 - accuracy: 0.7323
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7320
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7322
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5535 - accuracy: 0.7322
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5526 - accuracy: 0.7326
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7331
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7328
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7331
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7327
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7336
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7334
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7334
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7335
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7333
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7331
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7345
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7334
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7339
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7338
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7339
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7343
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7338
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7328
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7338
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7348
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7347
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7341
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7348
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7347
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7352
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7345
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7350
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7346
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7353
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7354
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7346
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7341
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7363
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7353
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7358
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7350

#### Alternative Model 2

In [45]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [46]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [47]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + number_output_neurons_A2)/ 2.25

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2 = 25
#second Layer
hidden_nodes_layer2_A2 = 13
#Third Layer
hidden_nodes_layer3_A2 = 6

In [48]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [49]:
# First hidden layer
nn_A2.add(Dense(input_dim = number_input_features, units = hidden_nodes_layer1_A2, activation = "relu" ))
#second hidden layer
nn_A2.add(Dense(units = hidden_nodes_layer2_A2, activation= "relu" ))
#Third Layer
nn_A2.add(Dense(units = hidden_nodes_layer3_A2, activation= "relu" ))
# Output layer
nn_A2.add(Dense(1, activation= "relu"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 25)                2925
_________________________________________________________________
dense_12 (Dense)             (None, 13)                338
_________________________________________________________________
dense_13 (Dense)             (None, 6)                 84
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 7
=================================================================
Total params: 3,354
Trainable params: 3,354
Non-trainable params: 0
_________________________________________________________________

In [50]:
# Compile the model
nn_A2.compile(loss= "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [51]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
804/804 [==============================] - 1s 1ms/step - loss: 1.4616 - accuracy: 0.6471
Epoch 2/75
804/804 [==============================] - 1s 1ms/step - loss: 0.6887 - accuracy: 0.7081
Epoch 3/75
804/804 [==============================] - 1s 1ms/step - loss: 0.6782 - accuracy: 0.7154
Epoch 4/75
804/804 [==============================] - 1s 1ms/step - loss: 0.6520 - accuracy: 0.7221
Epoch 5/75
804/804 [==============================] - 1s 1ms/step - loss: 0.6413 - accuracy: 0.7288
Epoch 6/75
804/804 [==============================] - 1s 1ms/step - loss: 0.6358 - accuracy: 0.7292
Epoch 7/75
804/804 [==============================] - 1s 1ms/step - loss: 0.6385 - accuracy: 0.7254
Epoch 8/75
804/804 [==============================] - 1s 1ms/step - loss: 0.6140 - accuracy: 0.7224
Epoch 9/75
804/804 [==============================] - 1s 1ms/step - loss: 0.6079 - accuracy: 0.7287
Epoch 10/75
804/804 [==============================] - 1s 1ms/step - loss: 0.6041 - accuracy: 0.7292
Epoch 11/75
804/804 [==============================] - 1s 1ms/step - loss: 0.6043 - accuracy: 0.7309
Epoch 12/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5987 - accuracy: 0.7272
Epoch 13/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5969 - accuracy: 0.7311
Epoch 14/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5888 - accuracy: 0.7321
Epoch 15/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5885 - accuracy: 0.7306
Epoch 16/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5825 - accuracy: 0.7310
Epoch 17/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5928 - accuracy: 0.7327
Epoch 18/75
804/804 [==============================] - 1s 1ms/step - loss: 0.6003 - accuracy: 0.7306
Epoch 19/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5886 - accuracy: 0.7302: 0s - loss: 0.5906 - accuracy: 0.
Epoch 20/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5926 - accuracy: 0.7335
Epoch 21/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5939 - accuracy: 0.7339
Epoch 22/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5886 - accuracy: 0.7250
Epoch 23/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5747 - accuracy: 0.7320
Epoch 24/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5721 - accuracy: 0.7332
Epoch 25/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5790 - accuracy: 0.7327
Epoch 26/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5990 - accuracy: 0.7061
Epoch 27/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5729 - accuracy: 0.7344
Epoch 28/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5731 - accuracy: 0.7329
Epoch 29/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5743 - accuracy: 0.7320
Epoch 30/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5785 - accuracy: 0.7349
Epoch 31/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5847 - accuracy: 0.7332
Epoch 32/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5872 - accuracy: 0.7331
Epoch 33/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5914 - accuracy: 0.7349
Epoch 34/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5852 - accuracy: 0.7343
Epoch 35/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5794 - accuracy: 0.7347
Epoch 36/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5785 - accuracy: 0.7338
Epoch 37/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5784 - accuracy: 0.7350
Epoch 38/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5821 - accuracy: 0.7340
Epoch 39/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5800 - accuracy: 0.7336
Epoch 40/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5789 - accuracy: 0.7343
Epoch 41/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5778 - accuracy: 0.7351
Epoch 42/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5832 - accuracy: 0.7350
Epoch 43/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5797 - accuracy: 0.7347
Epoch 44/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5864 - accuracy: 0.7358
Epoch 45/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5938 - accuracy: 0.7348
Epoch 46/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5775 - accuracy: 0.7362
Epoch 47/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5754 - accuracy: 0.7353
Epoch 48/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5747 - accuracy: 0.7354
Epoch 49/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5863 - accuracy: 0.7355
Epoch 50/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5790 - accuracy: 0.7349
Epoch 51/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5851 - accuracy: 0.7353
Epoch 52/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5827 - accuracy: 0.7353
Epoch 53/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5862 - accuracy: 0.7345
Epoch 54/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5849 - accuracy: 0.7371
Epoch 55/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5784 - accuracy: 0.7352
Epoch 56/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5771 - accuracy: 0.7374
Epoch 57/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5841 - accuracy: 0.7361
Epoch 58/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5904 - accuracy: 0.7362
Epoch 59/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5889 - accuracy: 0.7372
Epoch 60/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5870 - accuracy: 0.7366
Epoch 61/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5828 - accuracy: 0.7373
Epoch 62/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5788 - accuracy: 0.7367
Epoch 63/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5827 - accuracy: 0.7356
Epoch 64/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5803 - accuracy: 0.7368
Epoch 65/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5811 - accuracy: 0.7343
Epoch 66/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5804 - accuracy: 0.7358
Epoch 67/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5734 - accuracy: 0.7380
Epoch 68/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5720 - accuracy: 0.7379
Epoch 69/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5702 - accuracy: 0.7362
Epoch 70/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5747 - accuracy: 0.7366
Epoch 71/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5762 - accuracy: 0.7364
Epoch 72/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5737 - accuracy: 0.7383
Epoch 73/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5799 - accuracy: 0.7366
Epoch 74/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5786 - accuracy: 0.7374
Epoch 75/75
804/804 [==============================] - 1s 1ms/step - loss: 0.5801 - accuracy: 0.7363

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [56]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5491 - accuracy: 0.7319
Loss: 0.5491431355476379, Accuracy: 0.7318950295448303

In [57]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5491 - accuracy: 0.7319
Loss: 0.5491431355476379, Accuracy: 0.7318950295448303

In [58]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test, verbose = 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6084 - accuracy: 0.7285
Loss: 0.6084054708480835, Accuracy: 0.7285131216049194

### Step 3: Save each of your alternative models as an HDF5 file.

In [59]:
# Set the file path for the first alternative model
file_path = Path("../Resources//AlphabetSoup_A1.h5")
# Export your model to a HDF5 file
nn_A1.save(file_path)

In [60]:
# Set the file path for the second alternative model
file_path = Path("../Resources//AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)